body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
.header{
  font-family: "Noto Sans Thai", sans-serif;
  text-align: center;
  font-size: 50px;
  background-color: aquamarine;
}
.header2{
  text-align: center;
  font-size: 10px;
  background-color: orange;
  display: inline-block;
}
