body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
.header{
  font-family: "Noto Sans Thai", sans-serif;
  text-align: center;
  font-size: 50px;
  background-color: aquamarine;
}
.header2{
  font-family: "Noto Sans Thai", sans-serif;
  margin:10px;
  padding:10px;
  text-align: center;
  font-size: 20px;
  background-color: orange;
  display: inline-block;
  border-radius: 5px;
  display: flex;
}
section{
  font-family: "Noto Sans Thai", sans-serif;
  margin:30px;
  background-color: #87CEFA;
  border-radius: 15px;
}
